.root {
  width: 100%;
}

.button {
  margin-top: 10px;
  margin-right: 10px;
}

.actionsContainer {
  margin-bottom: 20px;
}

.resetContainer {
  padding: 30px;
}

.typography {
  margin-bottom: 10px;
}

.tripLength {
  display: flex;
}

.fab {
  margin: 2px;
}
